html{
background-color: red;
color: yellow;
}
a{
	color: yellow;
}
a:hover{
	color: green;
}

#navigation {
 float:left;
    width: 200px;
}

#content {
    margin-left: 200px;
}

#navigation {
	float:left; 
    width: 200px;
}

#navigation2 {
    float:right;
    width: 200px;
}

#content {
    margin: 0 200px; /* setting top and bottom margin to 0 and right and left margin to 200px */
}

#footer {
    clear: both;
    text-align: center;
    margin-top: 200px; 
}